form {
  max-width: 600px;
  margin: 100px auto;

  h2 {
    margin-bottom: 20px;
  }
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center;
}

.btn {
  margin-top: 30px;
  width: 100%;
}
