<body>
<form class="card" [formGroup]="formLogin" (ngSubmit)="submit()">
  <h2>Login to web chat account</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as curError">
    {{curError}}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: formLogin.get('email').touched && formLogin.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">

    <div
      class="validation"
      *ngIf="formLogin.get('email').touched && formLogin.get('email').invalid"
    >
      <small *ngIf="formLogin.get('email').errors.required">
        Enter email address.
      </small>
      <small *ngIf="formLogin.get('email').errors.email">
        Email should be valid.
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: formLogin.get('password').touched && formLogin.get('password').invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">

    <div
      class="validation"
      *ngIf="formLogin.get('password').touched && formLogin.get('password').invalid"
    >
      <small *ngIf="formLogin.get('password').errors.required">
        Enter password.
      </small>
      <small *ngIf="formLogin.get('password').errors.minlength">
        Password length should be more then 6.
      </small>
    </div>
  </div>


  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="formLogin.invalid || submitted"
  >Login</button>

  <p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>

</form>
</body>
