<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>

<body>
<!--

A concept for a chat interface.

Try writing a new message! :)


Follow me here:
Twitter: https://twitter.com/thatguyemil
Codepen: https://codepen.io/emilcarlsson/
Website: http://emilcarlsson.se/

-->
<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <p>{{user}}</p>
      </div>
    </div>
    <hr style="border-color: #111111;">
    <div id="contacts" #scrollContacts>
      <ul>
        <div *ngIf="roomList.length">
          <li *ngFor="let curRoom of roomList; let idx = index" class="contact"
            (click)="changeRoomIndex(roomIdx, idx)"
            [class.active]="roomIdx === idx"
          >
            <div class="wrap">
              <div class="meta">
                <p class="name">{{getRoomNameById(this.roomList[idx].roomId)}}</p>
                <p *ngIf="this.roomList[idx].unread" class="unread">{{this.roomList[idx].unread}}</p>
                <br>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <hr>
    <div id="bottom-bar">
      <hr style="border-color: #111111;">
      <button id="addContact" (click)="modalContact = true"><span>Add contact</span></button>
      <button id="createGroup" (click)="modalGroup = true"><span>Create group</span></button>
      <app-add-contact *ngIf="modalContact" (contactAdded)="modalContact = false" ></app-add-contact>
      <app-add-group *ngIf="modalGroup" (groupAdded)="modalGroup = false" ></app-add-group>
    </div>

  </div>
  <div class="content">
    <div class="contact-profile">
      <p>{{getRoomNameById(roomId)}}</p>
    </div>
    <div class="messages" #scrollMessages>
      <ul>
        <div *ngIf="roomList.length && roomIdx >= 0">
          <div *ngFor="let message of roomList[roomIdx].messageList; let idx = index">
            <li
              class="sent"
              *ngIf="roomList[roomIdx].messageList[idx].fromUser === user"
            >
              <div>
                <p><quill-view-html [content]="roomList[roomIdx].messageList[idx].message"></quill-view-html></p>
              </div>
            </li>
            <li
              class="replies"
              *ngIf="roomList[roomIdx].messageList[idx].fromUser !== user"
            >
              <p class="sender">{{roomList[roomIdx].messageList[idx].fromUser + ':'}}</p>
              <br>
              <div>
<!--            <p>{{roomList[roomIdx].messageList[idx].message}}</p>-->
                <p><quill-view-html [content]="roomList[roomIdx].messageList[idx].message"></quill-view-html></p>
              </div>
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div class="message-input">
      <form class="message-input" [formGroup]="formMessage" (ngSubmit)="sendMessage()">
        <div class="row">
          <div class="col-sm-12 custom-pad">
            <quill-editor [styles]="{maxHeight: '145px', minHeight: '145px'}" [modules]="quillModules" formControlName="message" placeholder="Enter message"></quill-editor>
          </div>
          <button
            type="submit" class="btn-primary btn-submit"
            [disabled]="roomIdx === -1"
          >
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

</body></html>
